body {
  min-width: 400px;
  max-width: 800px;
  margin: 30px auto;
  font-family: Helvetica, Arial, sans;
  font-size: 18px;
}

header img { float: left; margin-right: 3em; }
header h1 { height: 150px; line-height: 150px; font-size: 36px; margin: 0; }
body > header { overflow: auto; margin-bottom: 3em; }

a { color: #3465a4 }
a:hover { color: #204a87 }
a:visited { color: #5c3566 }
a:active { color: #4e9a06 }

p { margin: 0 0 1em 0; }
h1 { font-size: 24px; font-weight: bold; margin: 3em 0 0 0; }
h2 { font-size: 20px; font-weight: bold; margin: 2em 0 0 0; }
h3 { font-size: 18px; font-weight: bold; margin: 1em 0 0 0; }
code { font-size: 16px; }

data.suite-name { font-family: mono; }

div.warn { background: #fcc; border: 5px solid #f88; padding: 1em;
           text-align: center; font-size: 120%; }

.grammar { font-family: mono; font-size: 16px; }
.grammar dt { font-weight: bold; margin-top: 1em; }
.grammar dt:after { content: " ≔" }
.grammar dd { margin-left: 0; }
.grammar dd:before { content: "| " }
.grammar dt + dd:before { content: "  "; white-space: pre; }

a[href*=\#g\:]:before { content: "‹" }
a[href*=\#g\:]:after { content: "›" }
a[href*=\#g\:] { color: #204a87; text-decoration: none; font-family: mono; font-size: 16px; }

aside { border: 1px solid black; width: 200px; float: right; padding: 24px; margin: 0 25px; }

@media (min-width: 1200px) {
    body { margin-right: 300px; }
    aside { margin-right: -275px; }
}

dl.code-terms dt { font-family: mono; font-size: 16px; font-weight: bold; margin-top: 1em; }
table.code-terms { width: 100%; table-layout: fixed; margin: 1em 0; }
table.code-terms col { width: 20%; }
table.code-terms td { font-family: mono; font-size: 16px; }

code.regex { white-space: pre; }
