body {
  min-width: 400px;
  max-width: 800px;
  margin: 30px auto;
  font-family: Helvetica, Arial, sans;
  font-size: 18px;
}

body > header { overflow: auto; margin-bottom: 3em; }
body > header a { display: block; }
body > header img { float: left; margin-right: 3em; }
body > header h1 { padding-top: 1em; font-size: 200%; margin: 0; }

a { color: #3465a4; text-decoration: none; }
a:hover { color: #204a87; text-decoration: underline; }
a:visited { color: #5c3566 }
a:active { color: #4e9a06 }

li { margin: .25em 0; overflow: none; }

nav h2 { font-size: 100%; font-weight: bold; margin: 0; border-bottom: 1px solid gray; }
nav li { font-size: 100%; list-style: none; }
nav ul { padding: 0; }
.columns { display: flex; flex-direction: row; justify-content: space-around; margin: 1em 0; }

p { margin: 0 0 1em 0; }
h1 { font-size: 133%; font-weight: bold; margin: 3em 0 0 0; }
h2 { font-size: 111%; font-weight: bold; margin: 2em 0 0 0; }
h3 { font-size: 100%; font-weight: bold; margin: 1em 0 0 0; }
pre, code { font-size: 88%; }

data.suite-name { font-family: mono; }

div.warn { background: #fcc; border: 5px solid #f88; padding: 1em;
           text-align: center; font-size: 120%; }

.grammar { font-family: mono; font-size: 88%; }
.grammar dt { font-weight: bold; margin-top: 1em; }
.grammar dt:after { content: " ≔" }
.grammar dd { margin-left: 0; }
.grammar dd:before { content: "| " }
.grammar dt + dd:before { content: "  "; white-space: pre; }

a[href*=\#g\:]:before { content: "‹" }
a[href*=\#g\:]:after { content: "›" }
a[href*=\#g\:] { color: #204a87; text-decoration: none; font-family: mono; font-size: 88%; }

aside { border: 1px solid black; width: 200px; float: right; clear: right; padding: 24px; margin: 0 25px; }

@media (min-width: 1200px) {
    body.gutter { padding-right: 300px; }
    aside { margin-right: -275px; }
}

dl dt { font-weight: bold; margin-top: 1em; }

dl.code-terms dt { font-family: mono; font-size: 88%; }
table.code-terms { width: 100%; table-layout: fixed; margin: 1em 0; }
table.code-terms col { width: 20%; }
table.code-terms td { font-family: mono; font-size: 88%; }

pre.expr { text-align: center; font-family: monospace; }
pre.shell::before { content: "$ "; font-weight: bold; }

table.counts { width: 25%; }
table.counts thead th { text-align: left; border-bottom: 1px solid gray; }
table.counts tr td:nth-child(2) { text-align: right; }

ol.timeline { list-style: none; padding: 0 0 0 4em; }
ol time {
    float: left; width: 4em; margin-left: -4em; clear: left;
    color: gray;
}
ol.timeline li { margin: 1em 0; }

.columns .logo { width: 125px; height: 125px; margin-top: 1em }
