body {
  min-width: 400px; max-width: 65ex;
  margin: 0 auto; line-height: 1.5;
  font-family: Helvetica, Arial, sans; font-size: 20px;
}

body > header {
    overflow: auto; margin-bottom: 3rem; font-size: 100%;
    background: #72be49; padding: 1em;
    border-radius: 0 0 20px 20px;
}
body > header img { float: left; margin-right: 1em; height: 100px; }
body > header h1 { font-size: 150%; margin: 0; line-height: 1.2121; }
@media screen and (max-width: 600px) {
    body > header img { height: 50px; margin: 0 .5em; }
    body > header h1 { font-size: 120%; padding-top: 0; }
    html { padding: 0 1ex; }
}
body > header p { margin: 0; }
body > header ul { list-style: outside none; padding: 0; margin: .25em 0 0; }
body > header li { display: inline; margin-right: 1em; }
body > header a[href] { color: #2a461b; }
body > header a[href]:hover { color: #3f6828; }
body > header a[href]:visited { color: #2a461b; }

a[href] { color: #3465a4; text-decoration: none; }
a[href]:hover { color: #204a87; text-decoration: underline; }
a[href]:visited { color: #5c3566 }
a[href]:active { color: #4e9a06 }

body > h2 { display: inline-block; }
body > h2:after {
    content: " "; display: block; position: relative; top: -5px;
    background: #72be49; border-radius: 0 0 5px 5px; height: 7px;
}

li { margin: .25em 0; overflow: none; }

.columns { display: flex; flex-direction: row; justify-content: space-around; margin: 1.35em 0; }
.columns h2 { margin: 0; }
.columns ul { padding: 0; list-style: none; font-size: 120%; margin: 0; }
/* Logos on contributors page */
.columns .logo { width: 125px; height: 125px; margin-top: 1em }

p { margin: 0 0 1em 0; }
h1 { font-size: 133%; font-weight: bold; margin: 3em 0 1em 0; }
h2 { font-size: 122%; font-weight: bold; margin: 2em 0 .5em 0; }
h3 { font-size: 100%; font-weight: bold; margin: 1em 0 .25em 0; }
pre, code { font-size: 88%; }
pre { overflow: auto; background: #eeeeef; padding: .5ex; }

data { font-family: mono; }

div.warn { background: #fcc; border: 5px solid #f88; padding: 1em;
           text-align: center; font-size: 120%; }

.grammar { font-family: mono; font-size: 88%; }
.grammar dt { font-weight: bold; margin-top: 1em; }
.grammar dt:after { content: " ≔" }
.grammar dd { margin-left: 0; }
.grammar dd:before { content: "| " }
.grammar dt + dd:before { content: "  "; white-space: pre; }

a[href*=\#g\:]:before { content: "‹" }
a[href*=\#g\:]:after { content: "›" }
a[href*=\#g\:] { color: #204a87; text-decoration: none; font-family: mono; font-size: 88%; }

figure { margin-right: 0; }
aside {
    border: 1px solid black; width: 200px;
    float: right; clear: right; padding: 24px; margin: 1em 25px;
    font-family: Helvetica, Arial, sans; font-size: 18px;
}

@media (min-width: 1200px) {
    body.gutter { padding-right: 300px; }
    aside { margin-right: -275px; }
}

dl dt { font-weight: bold; margin-top: 1em; }
dl { margin: 1em 0; }

.pitch { font-size: 135%; }
.pitch iframe { margin: 0 auto; display: block; border: 1px solid gray; }

dl.code-terms dt { font-family: mono; font-size: 88%; }
table.code-terms { width: 100%; table-layout: fixed; margin: 1em 0; }
table.code-terms col { width: 20%; }
table.code-terms td { font-family: mono; font-size: 88%; }

pre.expr { text-align: center; font-family: monospace; }
pre.shell::before { content: "$ "; font-weight: bold; }

table.counts { width: 25%; }
table.counts thead th { text-align: left; border-bottom: 1px solid gray; }
table.counts tr td:nth-child(2) { text-align: right; }
table.counts th, table.counts td { padding: .5ex 0; }

ol.timeline, ol.papers-list { margin: 0; }

ol.timeline { list-style: none; padding: 0; }
ol.timeline time { color: gray; }
ol.timeline time:after { content: ": "; }
ol.timeline li { margin-bottom: 1em; }

ol.papers-list { list-style: inside none; padding: 0; }
ol.papers-list li { margin-bottom: 1em; line-height: 1.5; }
.paper { margin-bottom: .25em; font-size: 85%; }
.paper h3 { font-size: 120%; margin: 0; font-weight: normal; font-style: italic; }

#benchmark-search #search { box-sizing: border-box; width: 100%; }
#benchmark-search .search-container { position: relative; }
#benchmark-search #overlay {
    position: absolute; right: 1ex; top: calc(50% - .5em);
    color: #aaa; font-weight: bold;
}
#benchmark-search .help {
    width: 18px; height: 18px; border-radius: 9px; display: inline-block; 
    background: #aaa; color: white;
    text-align: center; font-size: 17.5px; vertical-align: top;
}
#benchmark-search .help.active, #benchmark-search .help:hover {
    background: #999; cursor: pointer;
}

#benchmarks > div > * { display: none; }
#benchmarks > div h2 { display: block; }
#benchmarks > div a.more { display: block; }
#benchmarks > div.open > * { display: block; }
#benchmarks > div.open a.more:after { content: " «"; }

#benchmarks > div { padding: 1ex; border: 3px solid transparent; }
#benchmarks > div:hover, #benchmarks > div.open {
    background: #f8f8f8; border: 3px solid #eee; box-shadow: 0 0 5px #eee;
}
#benchmarks > div.open { margin: 10px 0; }
#benchmarks div.links { background: #eee; margin: 0 -1ex -1ex -1ex; padding: 1ex; text-align: right; clear: both; }
#benchmarks div.links strong { color: #888; float: left;  }
#benchmarks div.links a { margin-right: 1em; }
#benchmarks div.links a:before { width: 1em; background-image: attr(data-icon); background-size: contain; }
#benchmarks div.links a:after { content: " »"; }

#benchmarks a.more { float: right; cursor: pointer; }
#benchmarks a.more:after { content: " »"; }
#benchmarks h2 { font-size: 100%; font-weight: normal; margin: 0; }
#benchmarks > div.open h2 { font-size: 110%; font-weight: bold; }

#benchmarks div.datum { margin: 1em 1em 1em 0; float: left; min-width: 8em; }
#benchmarks div.datum.pre, #benchmarks div.datum.p { 
    margin: 0; clear: both; float: none; overflow: auto;
}
#benchmarks div.datum strong {
    display: block; font-size: 80%; font-weight: bold;
    color: #aaa; text-transform: uppercase;
}
#benchmarks div.datum code.label { color: #666; }
#benchmarks div.datum code.label:after { content: ":"; }

#benchmarks pre { margin-top: 0; }

#help {
    padding: 1ex; line-height: 1.5;
    border: 1px solid #aaa; border-top: none;
    display: none;
}
#help.active { display: block; }
#help > p:last-child { margin-bottom: 0; }
